---
import Button from "../components/Button.astro";
import Layout from "../layout/Layout.astro";
---

<Layout title="404 - Page Not Found" description="Page Not Found">
  <main class="flex flex-col justify-center items-center py-8">
    <h1 class="text-3xl">404 - Page Not Found</h1>
    <Button url="/" label="Go Back" />
  </main>
</Layout>
